@font-face {
  font-family: VT220;
  font-style: normal;
  font-weight: medium;
  src: url("fonts/Glass_TTY_VT220.ttf");
}


body {
  font-family: 'VT220';
  color:red;
  background-color: black;
  background-image: url('images/BG.png');
  background-repeat: repeat;
}

#board {
  border-radius: 3px;
  border: 2px solid #101010;
  background-color: grey;
  width: 960px;
  height: 640px;
  margin:auto;
  box-shadow: 10px 10px 5px #110101;*/
}

.tile {
  display:inline-block;
  float:left;
  position: relative;
  width: 32px;
  height: 32px;
  background-color: black;
}

.currentTile {
  background-color: red;
}

.empty {
  background-image: url('images/FLOOR.png');
  background-size: 100%;
}
.wall {
  background-image: url('images/WALL.png');
  background-size: 100%;
}

.zombie {
  display:inline-block;
  float:left;
  position: relative;
  width: 32px;
  height: 32px;
}

.zombie-left {
  background-image: url('images/ZW.png');
}
.zombie-right {
  background-image: url('images/ZE.png');
}
.zombie-up {
  background-image: url('images/ZN.png');
}
.zombie-down {
  background-image: url('images/ZS.png');
}

.player1-left {
  display:inline-block;
  background-image: url('images/P1W.png');
  float:left;
  position: relative;
  width: 32px;
  height: 32px;
}

.player1-right {
  display:inline-block;
  background-image: url('images/P1E.png');
  float:left;
  position: relative;
  width: 32px;
  height: 32px;
}

.player1-up {
  display:inline-block;
  background-image: url('images/P1N.png');
  float:left;
  position: relative;
  width: 32px;
  height: 32px;
}

.player1-down {
  display:inline-block;
  background-image: url('images/P1S.png');
  float:left;
  position: relative;
  width: 32px;
  height: 32px;
}

.content {
  text-align: center;;
}

header {
  font-size: 32px;
  text-align: center;
  box-shadow: 10px 10px 5px #101010;
  background-color: rgba(30,30,30,0.8);
  border-radius: 10px;
}

select button {
  border-radius: 5px;
  border: 2px solid red;
  font-family: 'VT220';
  /*font-size: 16px;

  color: red;*/
}
