@font-face {
  font-family: VT220;
  font-style: normal;
  font-weight: medium;
  src: url("fonts/Glass_TTY_VT220.ttf");
}


body {
  font-family: 'VT220';
  color:red;
  background-color: black;
  background-image: url('images/BG.png');
  background-repeat: repeat;
}

#board {
  border-radius: 3px;
  border: 2px solid #101010;
  background-image: url('images/FLOOR.png');
  background-repeat: repeat;
  background-color: grey;
  width: 960px;
  height: 640px;
  margin:auto;
  box-ow: 10px 10px 5px #110101;
  border-top: 4px solid #101010;

}

.tile {
  display:inline-block;
  float:left;
  position: relative;
  width: 32px;
  height: 32px;
  background-color: black;
}

.currentTile {
  background-color: red;
}

.empty {
  background-image: url('images/FLOOR.png');
  background-size: 100%;
}
.wall {
  background-image: url('images/WALL.png');
  background-size: 100%;
}

.zombie {
  display:inline-block;
  float:left;
  position: relative;
  width: 32px;
  height: 32px;
}

.zombie-left {
  background-image: url('images/ZW.png');
}
.zombie-right {
  background-image: url('images/ZE.png');
}
.zombie-up {
  background-image: url('images/ZN.png');
}
.zombie-down {
  background-image: url('images/ZS.png');
}

.player1-left {
  display:inline-block;
  background-image: url('images/P1W.png');
  float:left;
  position: relative;
  width: 32px;
  height: 32px;
}

.player1-right {
  display:inline-block;
  background-image: url('images/P1E.png');
  float:left;
  position: relative;
  width: 32px;
  height: 32px;
}

.player1-up {
  display:inline-block;
  background-image: url('images/P1N.png');
  float:left;
  position: relative;
  width: 32px;
  height: 32px;
}

.player1-down {
  display:inline-block;
  background-image: url('images/P1S.png');
  float:left;
  position: relative;
  width: 32px;
  height: 32px;
}

.player2-left {
  display:inline-block;
  background-image: url('images/P2W.png');
  float:left;
  position: relative;
  width: 32px;
  height: 32px;
}

.player2-right {
  display:inline-block;
  background-image: url('images/P2E.png');
  float:left;
  position: relative;
  width: 32px;
  height: 32px;
}

.player2-up {
  display:inline-block;
  background-image: url('images/P2N.png');
  float:left;
  position: relative;
  width: 32px;
  height: 32px;
}

.player2-down {
  display:inline-block;
  background-image: url('images/P2S.png');
  float:left;
  position: relative;
  width: 32px;
  height: 32px;
}

.content {
  text-align: center;
}

#nPlayers {
  padding: 4px;
  margin:4px;
  font-size: 18px;
  text-align: center;
  color: #101010;
  background-color: rgba(255,0,0,0.5);
  border-radius: 5px;
  text-shadow: 0px 0px 0px #101010;
}

button {
  padding: 4px;
  margin:4px;
  font-size: 18px;
  border-radius: 5px;
  color: black;
  background-color: red;
  border: 2px solid black;
  font-family: 'VT220';
}

button:hover {
  background-color: black;
  color:red;
}


option {
  background-color: red;
  font-family: 'VT220';
}

select {
  font-size: 18px;
  background-color: red;
  border-radius: 5px;
  border: 2px solid red;
  font-family: 'VT220';
}

header {
  box-sizing: border-box;
  width: 960px;
  padding: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  text-align: center;
  box-shadow: 10px 10px 0px #101010;
  background-color: rgba(30,30,30,0.8);
  border-radius: 10px 10px 0px 0px;
  border: 2px solid black;
  text-shadow: 3px 3px 0px #101010;
}


select button {
  border-radius: 5px;
  border: 2px solid red;
  font-family: 'VT220';
  /*font-size: 16px;

  color: red;*/
}

#instructions{
  background-color: rgba(33,33,33, 0.8);
  text-align: left;
  padding: 20px 100px;
  font-size: 20px;
  text-shadow: 3px 3px 0px #101010;
}
